div.mb-3#content
    div.px-4.px-md-3.h-100
        div.row.h-100
            div(style="width:280px;").flex-shrink-0.p-3.bg-white.sidebar
                a(href="/").d-flex.align-items-center.pb-3.mb-3.link-dark.text-decoration-none.border-bottom
                    i.bi.bi-list.bi.me-2
                    span.fs-5.fw-semibold License
                ul.list-unstyled.ps-0
                    each rows, key in menu
                        li.mb-1
                            button(data-bs-toggle="collapse" data-bs-target=`#home-collapse-${key.replace(/\s/gi, '')}` aria-expanded="false").btn.btn-toggle.align-items-center.rounded.collapsed=key
                            div(id=`home-collapse-${key.replace(/\s/gi, '')}`).collapse
                                ul.btn-toggle-nav.list-unstyled.fw-normal.pb-1.small
                                    each row in rows
                                        li
                                            a(href=`/assignments/post/1?target=name&keyword=${row}`).link-dark.rounded=row
                    li.border-top.my-3